* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}
.top {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    min-height: 768px;
}
.top__container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container{
    max-width: 1148px;
    margin: 0 auto;
}
.header>ul{
    padding-top: 42px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.top__heading{
    width: 504px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.top__text{
    padding-top: 71px;
    width: 425px;
    padding-bottom: 32px;
}
.top__button{
    display: inline-block;
    padding: 15px 50px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.top__info{
    flex-grow: 1;
    background-repeat: no-repeat;
    background-image: url(img/illustration.svg);
    padding-top: 115px;
    background-position: right center;
    background-size: 44%;
}
.what-we-do{
    padding-top: 64px;
}
.heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}
.cards-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 64px;
}

.card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 44px 32px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card-tittle {
    padding-top: 52px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    width: 283px;
}
.projects{
    padding-top: 64px;
}
.text__project{
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;

}
.card-img{
    align-self: center;
}
.card-text {
    padding-top: 14px;
    width: 267px;
}
.project__item_big{
    position: relative;
}

.project__item{
    position: relative;
    flex-grow: 1;
}
.project__text{
    top: 64px;
    right: 64px;
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.project__text_left{
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.project__item_margin{
    margin-right: 32px;
}

.project__parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.card__link {
    padding-top: 30px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
}
.project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project__img{
    width: 100%;
}

.footer{
    margin-top: 112px;
    background: #316099;
}

.footer__info{
    padding: 91px 131px;
}

.footer__infos {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__card__title{
    font-weight: 400;
    width: 341px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footer__card__text{
    padding-top: 32px;
    width: 495px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer__card__button{
    display: inline-block;
    background: #5A98D0;
    padding: 15px 80px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footer_hr{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}
.footer__contacts{
    padding: 64px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__contacts>li{
    max-width: 317px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.rights{
    padding-bottom: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info {
        background-position: right 280px;
    }

    .cards-box {
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin-bottom: 32px;
    }
    .footer__info{
        padding: 47px 124px;
    }
    .footer__info__end{
        padding: 47px 124px;
    }
    .footer__card__title{
        width: 336px;
    }

    .footer__card__text {
        width: 336px;
    }

    .footer__card__button {
        margin-top: 55px;
        padding: 2px 32px;
    }

    .footer__contacts {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    .footer__contacts>li {
        max-width: 750px;
        margin-bottom: 25px;
        padding-left: 45px;
    }
}

@media (max-width: 667px) {
    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .header {
        padding-top: 24px;
    }

    .top__info{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top__heading{
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }
    .top__text{
        padding-top: 0px;
        width: 100%;
        text-align: center;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .cards-box {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .text__project {
        width: 100%;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .project__text_left{
        font-size: 16px;
        line-height: 19px;
        left: 16px;
    }
    .project__parent {
        margin-top: 16px;
        flex-direction: column;
    }
    .project__item_margin{
        margin-bottom: 16px;
        margin-right: 0px;
    }

    .footer__infos {
        flex-direction: column;
    }

    .footer__card__title {
        text-align: center;
        font-size: 24px;
        line-height: 28px;
    }
    .footer__card__text {
        width: 100%;
        text-align: center;
    }
    .footer__card__button {
        margin-top: 40px;
        padding: 2px 23px;
    }
    .footer__info__end {
        padding: 0px 28px;
    }
    .footer__contacts {
        padding: 32px 0px 10px 10px;
    }
    .footer__contacts>li {
        padding-left: 22px;
    }
    .rights {
        text-align: center;
        padding-bottom: 32px;
    }
}